.bgimage {
  background-image: url('../images/pencil.svg');
  background-position: center center;
  background-size: cover;
  background-color : 90c3d4;
  height: 200px;


}



body {
  font-family: 'Exo', sans-serif;

}
h1 {
  font-family: 'Architects Daughter', cursive;
  font-size: 3em;
}
#entries {
  padding-top: 10px;
  padding-bottom: 10px;
}
#deleteone {
  padding-top: 10px;
  padding-bottom: 10px;
}

#update {
  padding-top: 20px;
  padding-bottom: 20px;
}

#myEntries {
  display: none;
  padding-top: 50px;
  padding-bottom: 10px;
 padding-left: 80px;
}

#list {
   background-image: url('../images/Lined-Paper-Template-19-1024x1325.jpg');
  background-image-opacity: 0.4;
  border-radius: 5px;
}
.myEntries {
  font-family: 'Indie Flower', cursive;
  font-size: 3em;

}

#about {
   background-image: url('../images/Printable-Notebook-Paper-05.jpg');
}
#text {
  font-family: 'Exo', sans-serif;
   font-size: 1.55em;
   padding: 20px;
   padding-left: 50px;
}


input {
  border-radius: 5px;
  background-color: #F5DCAE;

  color: #262625;
}





input[type=submit] {
  background-color: #E8B9B3;
}

p {
  font-family: 'Exo', sans-serif;
  font-size: 1em;

}
/*font-family: 'Indie Flower', cursive;
font-family: 'Inconsolata', ;
font-family: 'Exo', sans-serif;
font-family: 'Architects Daughter', cursive;
font-family: 'Amatic SC', cursive; */

